*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
/* top-nav bar */
.top-navbar{
    width:100%;
    height:7vh;
    background-color:rgba(255, 228, 196, 0.589);
    display:flex;
    align-items:center;
    justify-content:space-between;
    position: relative;
}

.top-icons{
    margin-left:45px;
}

.top-icons i{
    font-size:20px;
    color:rgb(14, 14, 210);
    margin-left: 10px;
    cursor: pointer;
}

.other-links{
    margin:33px;
}

.other-links i{
    color:rgb(14, 14, 210);
    font-size:20px;
    margin-left:10px;
    cursor:pointer;
}

.other-links a{
    color:rgb(14, 14, 210);
    font-size:20px;
    margin-left:10px;
    cursor:pointer;
}


#btn-login{
    width: 100px;
    border:2px solid rgb(14, 14, 210);
    color:rgb(14, 14, 210);
    font-weight: bold;
    border-radius:5px;
    height:5ch;
    transition: 0.5s ease;
    cursor:pointer;
}

#btn-login a{
    text-decoration: none;
    color:rgb(14, 14, 210);
    transition: 0.5s ease;
}

#btn-login a:hover{
    background-color:rgb(14, 14, 210) ;
    color:rgb(255, 255, 255);
}

#btn-login:hover{
    background-color:rgb(14, 14, 210) ;
    color:rgb(255, 255, 255);
}

#btn-signup{
    width: 100px;
    border:2px solid rgb(14, 14, 210);
    color:rgb(14, 14, 210);
    font-weight: bold;
    border-radius:5px;
    height:5ch;
    transition: 0.5s ease;
    cursor:pointer;
}

#btn-signup a{
    text-decoration: none;
    color:rgb(14, 14, 210);
    transition: 0.5s ease;
}

#btn-signup a:hover{
    background-color:rgb(14, 14, 210) ;
    color:rgb(255, 255, 255);
}

#btn-signup:hover{
    background-color:rgb(14, 14, 210) ;
    color:rgb(255, 255, 255);
}

@media screen and(max-width: 500px){
    .top-icons{
        margin-left:30px;
    }
    .top-icons i{
        font-size:15px;
    }
    .other-links i{
        font-size:15px;
    }
    #btn-login{
        width:60px;
        height:5vh;
    }
    #btn-signup{
        width:70px;
        height:5vh;
    }
}
    
@media screen and(max-width: 350px){
    .top-icons{
        margin-left:5px;
    }
    .top-icons i{
        font-size:5px;
    }
    .other-links{
        margin-right:5px;
    }
    .other-links i{
        font-size:5px;
    }
    #btn-login{
        width:40px;
        height:5vh;
        font-size:10px;
    }
    #btn-signup{
        width:50px;
        height:5vh;
        font-size:10px;
    }
}

/* top-nav bar */
    
/* home section */

.home-section{
    width:100%;
    height:93vh;
    background-color:#a9a9a926;
}
/* navbar */
#navbar{
    background-color:#333376;
    font-size:16px;
    font-family: 'Roboto Slab', serif;
}
#navbar .navbar-brand{
    color:white;
    font-size: 4ch;
    font-family: 'Sriracha', cursive;
}

#navbar .nav-link{
    color:white;
    font-weight:bold;
    margin-left:5px;
    transition:0.5s ease;
}

navbar .nav-link:hover{
    color:white;
    border-radius:5px;
}

.dropdown li a{
    color:white;
}

#search-btn{
    color:white;
    border:1px solid white;
}

#search-btn a{
    color:white;
    text-decoration: none;
}

#search-btn :hover{
    background-color:rgba(184, 178, 172, 0.292);
}
#search-btn a:hover{
    background-color:rgba(184, 178, 172, 0.292);
}
/* navbar */







/* product cards */
#product-cards{
    font-family:'Roboto Slab',serif;
    margin-top:100px;
}

#product-cards .card{
    box-shadow:rgba(100,100,111,0.8) 0px 7px 29px 0px;;
}

#product-cards h1{
    margin-top:30px;
    color:rgb(0, 0, 139);
    text-shadow:1px 1px 1px black;
}

#product-cards h3{
    letter-spacing: 3px;
    color:#1c1c50;
    text-shadow:0px 1px 1px black;
    font-weight: bold;
}

#product-cards h5 span{
    float:right;
    color:#1c1c50;
    cursor:pointer;
}

.checked{
    color:rgb(227, 187, 0);
}

#viewmorebtn{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    text-decoration:none;
    margin-top:30px;
    width:200px;
    height:33px;
    color:#1c1c50;
    letter-spacing: 5px;
    font-weight: bold;
    background: transparent;
    border:2px solid #1c1c50;
    transition:0.5s ease;
}

#viewmorebtn:hover{
    background-color: #1c1c50;
    color:white;
}

/* product cards */ 


/* offer */
#offer{
    margin-top:100px;
}

#offer i{
    font-size:60px;
    color:#1e1e6c;
}

/* offer */



/* footer */

#footer{
    padding:0 0 30px 0;
    color:#d0d0d0;
    font-size:14px;
    background:#1c1c50;
    font-family: 'Roboto Slab', serif;
}

#footer .footer-top{
    padding:60px 0 30px;
    background:#1c1c50;
    color:aliceblue;
}

#footer .footer-top .footer-content h3{
    color:white;
    text-shadow:1px 1px 1px black;
}

#footer .footer-top .footer-content h4{
    font-size:22px;
    margin:0 0 24px 0;
    padding:2px 0 2px 0;
    line-height:1;
    font-weight: 700;
}

#footer .footer-top .footer-content p{
    font-size:14px;
    margin:0;
    color:white;
    line-height:1.5;
    font-weight: 400;
}


#footer .footer-top .footer-content  ul li{
    list-style: none;
}

#footer .footer-top .footer-content  ul li a{
    color:white;
}

#footer .footer-top .h4{
    font-size:16px;
    font-weight:bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links{
    margin-bottom: 30px;
}


/* #footer .footer-top .footer-links  a{
    color:white;
    line-height: 2;
} */

#footer .footer-top .footer-links .social-links a{
    font-size:18px;
    display:inline-block;
    color:white;
    line-height: 1;
    padding-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.5s ease;
}

#footer .copyright{
    align-items: center;
    float:left;
}

#footer .credits{
    float:right;
    text-align:center;
}
/* footer */

html{
    scroll-behavior: smooth;
}

.arrow{
    position:fixed;
    background-color: #1c1c50;
    border-radius: 50px;
    height:50px;
    bottom:40px;
    right:50px;
    text-decoration:none;
    align-items: center;
    line-height: 50px;
    background: transparent;
}